{% extends "base.html" %}
{% load static %}

{% block links %}
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="d-flex justify-content-between mb-3">
    <h2>Plano Mestre</h2>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#designarMaisDeUmInstrumento"><i class="fa-solid fa-plus"></i> Add Instrumento</button>
</div>

<table id="instrumentos-table" class="display table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Instrumento</th>
            <th>Marca</th>
            <th>Status</th>
            <th>Tempo de calibração (em dias)</th>
        </tr>
    </thead>
    <tbody>
        {% for instrumento in instrumentos_cadastrados %}
        <tr>
            <td>{{instrumento.tag}}</td>
            <td>{{instrumento.tipo_instrumento}}</td>
            <td>{{instrumento.marca}}</td>
            <td>{{instrumento.status_instrumento}}</td>
            <td>{{instrumento.tempo_calibracao}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#instrumentos-table').DataTable({
            "pageLength": 10,  // Define 10 itens por página
            "lengthChange": false, // Oculta a opção de mudar a quantidade de itens por página
            "ordering": true, // Permite ordenação
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próximo"
                },
                "search": "Buscar:",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível"
            }
        });
    });
</script>
{% endblock %}