{% extends "base.html" %}
{% load static %}

{% block links %}
    <link href="{% static 'css/selects.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h2>Cadastro de Itens</h2>
    <button type="button" id="buttonAddInstrumento" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> Add Instrumento</button>
</div>

<div class="d-flex justify-content-end">
    <input type="text" id="filtroTag" placeholder="Filtrar por Tag..." class="form-control mb-3" style="width: 200px;"> 
</div>


<table id="example" class="display table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 50px;"></th>
            <th>Tag</th>
            <th>Instrumento</th>
            <th>Marca</th>
            <th>Status</th>
            <th>Tempo de calibração (em dias)</th>
            <th>Possui ponto de calibração?</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for item in instrumentos_com_pontos_calibracao %}
            <tr class="main-row">
                <td style="width: 50px;"><button style="font-size: 10px;" class="btn btn-primary toggle-accordion"><i class="fa-solid fa-chevron-down"></i></button></td>
                <td>{{ item.instrumento.tag }}</td>
                <td>{{ item.instrumento.tipo_instrumento }}</td>
                <td>{{ item.instrumento.marca }}</td>
                <td>{{ item.instrumento.get_status_instrumento_display }}</td>
                <td>{{ item.instrumento.tempo_calibracao }}</td>
                <td>
                    {% if item.pontos_calibracao %} 
                        <i class="fa-solid fa-circle fa-circle-check"  style="color:rgb(0, 124, 37);"></i> 
                    {% else %} 
                        <i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i> 
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-primary open-modal"
                            data-id="{{ item.instrumento.id }}"
                            data-tag="{{ item.instrumento.tag }}"
                            data-tipo="{{ item.instrumento.tipo_instrumento }}"
                            data-marca="{{ item.instrumento.marca }}"
                            data-status="{{ item.instrumento.get_status_instrumento_display }}"
                            data-tempo="{{ item.instrumento.tempo_calibracao }}"
                            data-ultima="{{ item.instrumento.ultima_calibracao|date:'Y-m-d' }}"
                            data-proxima="{{ item.instrumento.proxima_calibracao|date:'Y-m-d' }}">
                        Editar
                    </button>
                </td>
            </tr>
            <tr class="accordion-row" style="display: none;">
                <td colspan="8">
                    <div class="accordion-content">
                        <h4>Pontos de Calibração</h4>
                        <div class="list-group">
                            <div class="row">
                                {% for ponto in item.pontos_calibracao %}
                                    <div class="col-md-4 mb-3">
                                        <a class="list-group-item list-group-item-action" style="cursor: pointer;" aria-current="true" 
                                        onclick="editarPontoCalibracao('{{ ponto.id }}', '{{ ponto.instrumento.tag }}', '{{ ponto.descricao }}', '{{ponto.status_ponto_calibracao}}', '{{ ponto.faixa_nominal }}', '{{ ponto.unidade }}', '{{ ponto.tolerancia_admissivel }}')">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ ponto.descricao }}</h5>
                                            <small>{{ ponto.get_status_ponto_calibracao_display }}</small>
                                            </div>
                                            <p class="mb-1"><strong>Faixa Nominal: </strong>{{ ponto.faixa_nominal }}</p>
                                            <small><strong>Unidade: </strong> {{ ponto.unidade }}</small>
                                        </a>
                                    </div>
                                {% empty %}
                                    <div class="col-md-12">
                                        <p>Não há pontos de calibração cadastrados para este instrumento.</p>
                                    </div>
                                {% endfor %}
                                <div class="col-md-4">
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdicionarPontoCalibracao" data-instrumento-id="{{ item.instrumento.id }}">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}    
    </tbody>
</table>

<div class="modal fade" id="modalAddInstrumento" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalAddInstrumentoLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalAddInstrumentoLabel">Adicione um instrumento ao plano mestre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAddInstrumento">
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-sm-6 mb-2">
                        <label for="modal-add-tag">Tag</label>
                        <input class="form-control" name="modal-add-tag" id="modal-add-tag" required>
                    </div>
                    <div class="col-10 col-sm-5 mb-2">
                        <label for="modal-add-tipo">Tipo</label>
                        <select class="form-control select2" name="modal-add-tipo" id="modal-add-tipo" required>
                            <option value="Carregando...">Carregando...</option>
                        </select>
                    </div>
                    <div class="col-1 col-sm-1 mt-3 p-0 position-relative">
                        <a class="btn btn-primary toggle-dropdown">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <div class="dropdown-menu p-3 position-absolute translate-middle-x custom-dropdown" style="display: none; width: 250px; left: -80px">
                            <label for="input-tipo-instrumento">Tipo do Instrumento</label>
                            <input id="input-tipo-instrumento" type="text" class="form-control mb-2" placeholder="Ex:. Trena, Manômetro ...">
                            <button id="add-novo-tipo" class="btn btn-success w-100">
                                Criar novo tipo 
                                <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-add-marca">Marca</label>
                        <input class="form-control" name="modal-add-marca" id="modal-add-marca" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-add-status">Status</label>
                        <select class="form-control" name="modal-add-status" id="modal-add-status" required>
                            <option value="Carregando...">Carregando...</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-add-tempo">Tempo p/ calibração (em dias)</label>
                        <input type="number" class="form-control" name="modal-add-tempo" id="modal-add-tempo" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-add-ultima">Data última calib.</label>
                        <input type="date" class="form-control" name="modal-add-ultima" id="modal-add-ultima" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-adicionar-instrumento" type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <span>Adicionar</span>
                    <span class="spinner-border spinner-border-sm" id="spinner-border-adicionar-instrumento" style="display: none;"></span>
                </button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalEditarLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-edit">
        <div class="modal-body">
            <div class="row align-items-center">
                <div class="col-sm-6 mb-2 d-none">
                    <label for="modal-edit-id">ID</label>
                    <input class="form-control" name="modal-edit-id" id="modal-edit-id">
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-tag">Tag</label>
                    <input class="form-control" name="modal-edit-tag" id="modal-edit-tag">
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-tipo">Tipo</label>
                    <select class="form-control" name="modal-edit-tipo" id="modal-edit-tipo">
                        <option value="Carregando...">Carregando...</option>
                    </select>
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-marca">Marca</label>
                    <input class="form-control" name="modal-edit-marca" id="modal-edit-marca">
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-status">Status</label>
                    <select class="form-control" name="modal-edit-status" id="modal-edit-status">
                        <option value="Carregando...">Carregando...</option>
                    </select>
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-tempo">Tempo p/ calibração (em dias)</label>
                    <input type="number" class="form-control" name="modal-edit-tempo" id="modal-edit-tempo">
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-ultima">Data última calib.</label>
                    <input type="date" class="form-control" name="modal-edit-ultima" id="modal-edit-ultima">
                </div>
                <div class="col-sm-6 mb-2">
                    <label for="modal-edit-proxima">Data prox. calib.</label>
                    <input type="date" class="form-control" name="modal-edit-proxima" id="modal-edit-proxima" disabled>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="submit-editar-instrumento" type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                <span>Editar</span>
                <span class="spinner-border spinner-border-sm" id="spinner-border-editar-instrumento" style="display: none;"></span>
            </button>
        </div>
        </form>
    </div>
</div>
</div>

<!-- Modal Adicionar Ponto de Calibração -->
<div class="modal fade" id="modalAdicionarPontoCalibracao" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalAdicionarPontoCalibracaoLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAdicionarPontoCalibracaoLabel">Adicionar Ponto de Calibração</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="adicionar-ponto-calibracao">
            <div class="modal-body">
                <div class="row align-items-center">
                    <input type="hidden" name="instrumento_id_ponto_calibracao" id="instrumento_id_ponto_calibracao">
                    <div class="col-sm-6 mb-3">
                        <label for="descricao-pc" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao-pc" name="descricao-pc" required>
                    </div>
                    <div class="col-10 col-sm-5 mb-2 mb-3">
                        <label for="unidade-pc" class="form-label">Unidade</label>
                        <select class="form-control select2" name="unidade-pc" id="unidade-pc" required>
                            <option value="Carregando...">Carregando...</option>
                        </select>
                    </div>
                    <div class="col-1 col-sm-1 mt-3 p-0 position-relative">
                        <a class="btn btn-primary toggle-dropdown">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <div class="dropdown-menu p-3 position-absolute translate-middle-x custom-dropdown" style="display: none; width: 250px; left: -80px">
                            <label for="">Unidade</label>
                            <input id="input-unidade-instrumento" type="text" class="form-control mb-2" placeholder="Ex:. mm, Kg ...">
                            <button id="add-nova-unidade" class="btn btn-success w-100">
                                Criar nova unidade 
                                <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="faixa_nominal-pc" class="form-label">Faixa Nominal</label>
                        <input type="text" class="form-control" id="faixa_nominal-pc" name="faixa_nominal-pc" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="status-pc" class="form-label">Status</label>
                        <select class="form-select" id="status-pc" name="status-pc" required>
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="tolerancia-pc" class="form-label">Tolerância Admissível</label>
                        <input type="number" min="0" step="0.00001" class="form-control" id="tolerancia-pc" name="tolerancia-pc" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-adicionar-ponto-calibracao" type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <span>Adicionar</span>
                    <span class="spinner-border spinner-border-sm" id="spinner-border-adicionar-ponto-calibracao" style="display: none;"></span>
                </button>
            </div>            
        </form>
      </div>
    </div>
  </div>
  
<div class="modal fade" id="modalEditPontoCalibracao" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalEditPontoCalibracaoLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalEditPontoCalibracaoLabel">Adicione um instrumento ao plano mestre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formEditPontoCalibracao">
            <div class="modal-body">
                <div class="row align-items-center">
                    <input class="form-control" type="hidden" id="modal-edit-pc-id" name="modal-edit-pc-id">
                    <div class="col-sm-6 mb-2">
                        <label for="modal-edit-pc-tag">Tag</label>
                        <input class="form-control" name="modal-edit-pc-tag" id="modal-edit-pc-tag" disabled>
                    </div>
                    <div class="col-10 col-sm-6 mb-2">
                        <label for="modal-edit-pc-descricao">Descrição</label>
                        <input class="form-control" name="modal-edit-pc-descricao" id="modal-edit-pc-descricao" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-edit-pc-status">Status</label>
                        <select class="form-control" name="modal-edit-pc-status" id="modal-edit-pc-status" required>
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-edit-pc-faixa-nominal">Faixa Nonimal</label>
                        <input class="form-control" name="modal-edit-pc-faixa-nominal" id="modal-edit-pc-faixa-nominal" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-edit-pc-unidade">Unidade</label>
                        <input class="form-control" name="modal-edit-pc-unidade" id="modal-edit-pc-unidade" required>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <label for="modal-edit-pc-tolerancia-admissivel">Tolerância Admissível</label>
                        <input type="number" min="0" step="0.01" class="form-control" name="modal-edit-pc-tolerancia-admissivel" id="modal-edit-pc-tolerancia-admissivel" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-edit-pc-instrumento" type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <span>Editar</span>
                    <span class="spinner-border spinner-border-sm" id="spinner-border-edit-pc-instrumento" style="display: none;"></span>
                </button>
            </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/crud/editar-instrumento.js' %}"></script>
<script src="{% static 'js/crud/add-instrumento.js' %}"></script>
<script src="{% static 'js/crud/add-ponto-calibracao.js' %}"></script>
<script src="{% static 'js/crud/dropdown.js' %}"></script>
<script src="{% static 'js/crud/editar-ponto.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".toggle-accordion").forEach(button => {
            button.addEventListener("click", function () {
                let row = this.closest("tr").nextElementSibling; // Obtém a linha do accordion
                if (row.style.display === "none" || row.style.display === "") {
                    row.style.display = "table-row";  // Exibe a linha
                    this.innerHTML = '<i class="fa-solid fa-chevron-up"></i>';  // Muda o botão para "-"
                } else {
                    row.style.display = "none";  // Esconde a linha
                    this.innerHTML = '<i class="fa-solid fa-chevron-down"></i>';  // Volta para "+"
                }
            });
        });
    });

    $(document).ready(function() {
        // Função para filtrar a tabela
        $("#filtroTag").on("keyup", function() {
            var value = $(this).val().toLowerCase(); // Pega o valor do input e converte para minúsculas
            $("#example tbody tr.main-row").filter(function() {
                $(this).toggle($(this).find("td:eq(1)").text().toLowerCase().indexOf(value) > -1);
            });
        });
    });

</script>

{% endblock %}