{% extends "base.html" %}
{% load static %}

{% block links %}
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center" style="margin-bottom: 50px;">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 text-center">
            <h1 style="font-weight: 700;"><label for="">Histórico de Instrumento</label></h1>
            <p class="fw-medium" style="color: #6e6e77;">Escolha um instrumento para analisar seu histórico</p>
            <div class="input-group">
                <input class="form-control custom-select custom-select-sm fw-semibold" value="{{ instrumento_selecionado}}" list="instruments-filter" id="filterInputInstrument" type="text" placeholder="Pesquisar instrumento..." aria-label="Pesquisar instrumento" aria-describedby="filtrar_instrumento">
                <datalist id="instruments-filter">
                    {% for instrumento in instrumentos %}
                        <option value="{{ instrumento.tag }}" data-id="{{ instrumento.id }}">{{ instrumento.tag }}</option>
                    {% endfor %}
                </datalist>
                <button id="filtrar_instrumento" class="input-group-text btn btn-light border" type="button">
                    <i id="searchIcon" class="fa-solid fa-search"></i>
                    <span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                    <span class="visually-hidden" role="status">Loading...</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 50px;">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 border p-3">
            <h5 id="cabecalho_historico_instrumento">Instrumento:</h5>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <label for="responsavel_historico" style="color: gray; font-weight: 400;">Responsável</label>
                    <p id="responsavel_historico" style="font-weight: 500;"></p>
                </div>
                <div class="col-sm-4">
                    <label for="status_equip_historico" style="color: gray; font-weight: 400;">Status Equipamento</label>
                    <p id="status_equip_historico" style="font-weight: 500;"></p>
                </div>
                <div class="col-sm-4">
                    <label for="tipo_equip_historico" style="color: gray; font-weight: 400;">Tipo do Equipamento</label>
                    <p id="tipo_equip_historico" style="font-weight: 500;"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="ult_calib_historico" style="color: gray; font-weight: 400;">Ult. Calibração</label>
                    <p id="ult_calib_historico" style="font-weight: 500;"></p>
                </div>
                <div class="col-sm-4">
                    <label for="prox_calib_historico" style="color: gray; font-weight: 400;">Próx. Calibração</label>
                    <p id="prox_calib_historico" style="font-weight: 500;"></p>
                </div>
                <div class="col-sm-4">
                    <label for="tempo_calib_historico" style="color: gray; font-weight: 400;">Tempo de Calibração</label>
                    <p id="tempo_calib_historico" style="font-weight: 500;"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center accordion accordion-flush" style="margin-bottom: 50px;">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 accordion-item ">
            <div id="pontos_calibracao_container">
                <div class="d-flex justify-content-between align-items-center border p-3 accordion-header">
                    <h6 id="ponto_de_calibracao"></h6>
                    <div style="display: flex; gap: 20px; align-items: center;">
                        <strong id="status_ponto_de_calibracao" class="status-approved" style="font-size: 12px;">Status</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 50px;">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
            <div class="tableFixHead">
                <table id="instrumentos-table" class="display table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Descrição - Histórico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/filtro/filtrar-opcoes.js' %}"></script>
<script src="{% static 'js/filtro/filtrar-instrumento.js' %}"></script>
<script src="{% static 'js/historico.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const input = document.getElementById("filterInputInstrument");
        const filterButton = document.getElementById("filtrar_instrumento");
    
        // Verifica se o input tem um valor preenchido (ou seja, se há uma query na URL)
        if (input.value.trim() !== "") {
            // Simula um clique no botão para enviar a requisição
            filterButton.click();
        }
    });
</script>

{% endblock %}